In [ ]:
import pandas as pd
import numpy as np

# Read in the Data
Note, the last column is the label

In [30]:
data = pd.read_csv('TaiwaneseDefaultData.csv')

data.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,120000.0,2,2,2,26,-1,2,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,90000.0,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,50000.0,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [31]:
data['default'].value_counts()

0    23364
1     6636
Name: default, dtype: int64

### It has the expected behaviour, people either default or they do not

# KNN

## Build the most basic KNN Classifier and test its accuracy under cross validation

In [15]:
#hint, we import train test split in order to estimate accuracy
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
# Make a train and test set
# Train a classifier (start off using default parameters)
# How well does this classifier perform on the test set ?

# KNN is very susceptible to feature scaling

In [ ]:
from sklearn.preprocessing import StandardScaler

features = data.drop( 'default', axis=1)

scaler = StandardScaler()

features = scaler.fit_transform(features)

# Make a train and test set
# Train a classifier (using the parameters you see fit)
# How well does this perform? Do results improve?

# Now that you have a favoured set of parameters, use three-fold cross-validation to get a best estimate of its generalisation accuracy

# Decision Trees

In [32]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
# Make a train and test set
# Train a classifier (start off using default parameters)
# How well does this classifier perform on the test set ?
# Why might the default parameters be a particularly poor choice
#for decision trees?

# What is the effect of feature scaling for Decision Trees ?

# What is your optimal tree structure ? 
## Use three-fold cross-validation to estimate its generalisation accuracy

## Repeat for Random Forests

In [33]:
from sklearn.ensemble import RandomForestClassifier